<template>
  <section class="page">
    <div class="page__top">
      <h3 class="page__title">Мои закладки</h3>
    </div>
    <favorite-empty v-if="getItems.length === 0" />
    <div class="page__content">
      <card-item v-for="item in getItems" :item="item" :key="item.id" />
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import CardItem from "@/components/CardItem.vue";
import FavoriteEmpty from "@/components/FavoriteEmpty.vue";
export default {
  components: {
    CardItem,
    FavoriteEmpty,
  },
  methods: {},
  computed: {
    ...mapGetters({
      getItems: "favorite/getItems",
    }),
  },
};
</script>

<style lang="scss"></style>
