<template>
  <section class="page">
    <div class="page__top">
      <h3 class="page__title">Все кроссовки</h3>
      <div class="page__input">
        <input
          class="input"
          type="text"
          placeholder="Поиск..."
          v-model="searchQuery"
        />
      </div>
    </div>
    <div class="page__content">
      <div class="loading" v-if="sneakersLoading">Загрузка...</div>
      <card-item v-for="item in searchSneackers" :key="item.id" :item="item" />
    </div>
  </section>
</template>

<script>
import CardItem from "@/components/CardItem.vue";
import axios from "axios";

export default {
  components: {
    CardItem,
  },
  data() {
    return {
      searchQuery: "",
      sneakers: [],
      sneakersLoading: false,
    };
  },
  methods: {
    async featchSneakers() {
      this.sneakersLoading = true;
      try {
        const response = await axios.get(
          "https://622c3b77087e0e041e06361c.mockapi.io/goods/api/goods"
        );
        this.sneakers = response.data;
      } catch (e) {
        console.log(e);
      } finally {
        this.sneakersLoading = false;
      }
    },
  },
  computed: {
    searchSneackers() {
      return [...this.sneakers].filter((item) =>
        item.name.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },
  },
  mounted() {
    this.featchSneakers();
  },
};
</script>

<style lang="scss">
.page {
  padding: 45px;
  min-height: 80vh;
  &__top {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  &__input {
    display: block;
    margin-left: auto;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.input {
  padding: 10px 15px;
  width: 200px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  outline: inherit;
  position: relative;
}
</style>
