<template>
  <div class="bascket-item">
    <div class="bascket-item__img">
      <img :src="item.photoUrl" alt="image" />
    </div>
    <div class="bascket-item__content">
      <p class="bascket-item__name">{{ item.name }}</p>
      <p class="bascket-item__price">{{ item.price }} руб.</p>
    </div>
    <button class="bascket-item__btn btn" @click="setBascket(item)">
      <img src="@/assets/close.svg" alt="remove" />
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    item: {
      type: Object,
      requaired: true,
    },
  },
  methods: {
    ...mapActions({
      handleBascket: "bascket/handleBascket",
    }),
    setBascket(item) {
      this.handleBascket(item);
    },
  },
};
</script>

<style lang="scss" scoped>
.bascket-item {
  margin-top: 20px;
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 70px;
    height: 70px;
    img {
      width: 70px;
      height: 70px;
    }
  }

  &__content {
    margin-right: 12px;
    margin-left: 20px;
  }
  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}
</style>
