<template>
  <div class="card">
    <button class="card__favorite-btn btn card__btn" @click="setFavorite(item)">
      <img
        src="@/assets/favorite-active.svg"
        alt="favorite-active"
        v-if="getItemsFavorite.find((element) => element.id === item.id)"
      />
      <img src="@/assets/favorite.svg" alt="favorite" v-else />
    </button>
    <div>
      <img class="card__img" :src="item.photoUrl" alt="img" />
    </div>
    <p class="card__text">{{ item.name }}</p>
    <div class="card__bottom">
      <div class="card__bottom-text">
        <p>Цена:</p>
        <b>{{ item.price }} руб.</b>
      </div>
      <button
        class="card__bascket-btn btn card__btn"
        @click="setBascket(item)"
        :class="{
          active: getItemsBascket.find((element) => element.id === item.id),
        }"
      >
        <img
          class="card__btn-vector"
          v-if="getItemsBascket.find((element) => element.id === item.id)"
          src="@/assets/select.svg"
          alt="select"
        />
        <img
          class="card__btn-vector"
          src="@/assets/Vector-add.svg"
          alt="add"
          v-else
        />
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      getItemsFavorite: "favorite/getItems",
      getItemsBascket: "bascket/getItems",
    }),
  },
  methods: {
    ...mapActions({
      handleFavorite: "favorite/handleFavorite",
      handleBascket: "bascket/handleBascket",
    }),
    setFavorite(item) {
      this.handleFavorite(item);
    },
    setBascket(item) {
      this.handleBascket(item);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  margin-top: 20px;
  margin-right: 15px;
  width: 210px;
  height: 260px;
  padding: 20px;
  border: 1px solid #d6d6d6;
  border-radius: 40px;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__favorite-btn {
    position: absolute;
    left: 25px;
    top: 25px;
  }
  &__img {
    width: 133px;
    height: 112px;
    display: block;
    margin: 0 auto;
  }
  &__text {
    font-size: 14px;
    line-height: 17px;
  }
  &__btn {
    width: 32px;
    height: 32px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-vector {
      width: 16px;
      height: 16px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-text {
    p {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: #bdbdbd;
    }
    b {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
  }
}
.active {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
}
</style>
