<template>
  <div class="favorite-empty">
    <div class="favorite-empty__wrapper">
      <img src="@/assets/smile.png" alt="smile" />
      <h6 class="favorite-empty__title">Закладок нет :(</h6>
      <p class="favorite-empty__text">Вы ничего не добавляли в закладки</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.favorite-empty {
  display: flex;
  height: 60vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__wrapper {
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.5;
  }
}
</style>
