<template>
  <header class="header">
    <nav class="nav">
      <logo-app />
      <menu-app @showBascket="showBascket" />
    </nav>
  </header>
</template>

<script>
import Logo from "@/components/MyLogo";
import Menu from "@/components/MyMenu.vue";

export default {
  name: "header-vue",
  components: {
    "logo-app": Logo,
    "menu-app": Menu,
  },
  methods: {
    showBascket() {
      this.$emit("showBascket");
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  border-bottom: 1px solid #eaeaea;
  padding: 45px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
