<template>
  <div
    className="overlay overlayVisible"
    v-if="bascketShow"
    @click.stop="closeBascket"
  >
    <div className="bascket" @click.stop>
      <div class="bascket__top">
        <h3>Корзина</h3>
        <button class="bascket__top-btn btn" @click="closeBascket">
          <img class="bascket__top-img" src="@/assets/close.svg" alt="close" />
        </button>
      </div>
      <div class="bascket__content">
        <bascket-item
          v-for="item in getItemsBasket"
          :item="item"
          :key="item.id"
        />
      </div>
      <div class="bascket__result">
        <div class="bascket__result-text">
          <p>Итого:</p>
          <b>{{ getTotalPrice }} руб. </b>
        </div>
        <button class="bascket__result-btn btn">Оформить заказ</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import BascketItem from "@/components/BascketItem";

export default {
  components: {
    BascketItem,
  },
  props: {
    bascketShow: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    closeBascket() {
      this.$emit("closeBascket");
    },
  },
  computed: {
    ...mapGetters({
      getTotalPrice: "bascket/getTotalPrice",
      getItemsBasket: "bascket/getItems",
    }),
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
  overflow: hidden;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .bascket {
    transform: translateX(0);
  }
}

.bascket {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-height: 80vh;
    overflow-y: auto;
  }
  &__result {
    display: block;
    margin-top: auto;
  }
  &__result-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__result-btn {
    background: #9dd558;
    border-radius: 18px;
    display: block;
    padding: 10px 30px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
  }
}
</style>
