<template>
  <router-link to="/">
    <div class="logo">
      <img class="logo__img" src="@/assets/logo.png" alt="logo" />
      <div class="logo__block">
        <h6 class="logo__title">Мини магазин на vue</h6>
        <p class="logo__text">Магазин лучших кроссовок</p>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 16px;
    width: 40px;
    height: 40px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
  }
}
</style>
