<template>
  <ul class="menu-list">
    <li class="menu-list__item">
      <button class="menu-list__btn btn" @click="showBascket">
        <img
          class="menu-list__img"
          src="@/assets/bascket.svg"
          alt="vector-bascket"
        />
        <p class="menu-list__text">{{ getTotalPrice }} руб.</p>
      </button>
    </li>
    <li class="menu-list__item">
      <router-link to="favorite">
        <button class="menu-list__btn btn">
          <img
            class="menu-list__img"
            src="@/assets/favorite.svg"
            alt="vector-favorite"
          />
        </button>
      </router-link>
    </li>
  </ul>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "menu-app",
  methods: {
    showBascket() {
      this.$emit("showBascket");
    },
  },
  computed: {
    ...mapGetters({
      getTotalPrice: "bascket/getTotalPrice",
    }),
  },
};
</script>

<style lang="scss" scoped>
.menu-list {
  display: flex;
  align-items: center;

  &__item {
    margin-left: 20px;
  }

  &__btn {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  &__img {
    width: 20px;
    height: 20px;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5c5c5c;
    margin-left: 10px;
  }
}
</style>
