<template>
  <main class="main">
    <div class="container">
      <div class="wrapper">
        <header-vue @showBascket="openBascket" />
        <router-view />
      </div>
    </div>
    <my-bascket :bascketShow="bascketShow" @closeBascket="closeBascket" />
  </main>
</template>

<script>
import HeaderVue from "./components/Header.vue";
import MyBascket from "./components/MyBascket.vue";

export default {
  components: {
    HeaderVue,
    MyBascket,
  },
  data() {
    return {
      bascketShow: false,
    };
  },
  methods: {
    openBascket() {
      this.bascketShow = true;
    },
    closeBascket() {
      this.bascketShow = false;
    },
  },
};
</script>

<style lang="scss">
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.main {
  background: #e7f6ff;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 40px;
}
.btn {
  border: none;
  cursor: pointer;
  background: transparent;
}
</style>
